rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
     allow read, write: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "admin";
    match /users/{userId}{
     allow read, write:if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "admin";
   }
    match /status/{userId}{
     allow read, write:if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "admin";
   }
    match /status/{userId}/{documents=**}{
     allow read, write:if request.auth.uid != null;
   }
   match /company/{userId}{
     allow read, write:if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "admin";
   }
   match /income/{incomeId}{
     allow read, write:if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "admin";
   }
   match /subcontact/{subcontactId}{
     allow read, write:if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "admin";
   match /{document=**} {
    allow read, write:if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "admin";
   }
   }
   match /air/{document}{
     allow write:if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "admin"
   }
   match /otp/{document}{
     allow write:if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "admin"
   }
   match /company/{document}{
     allow write:if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "admin"
   }
   match /sea/{document}{
     allow write:if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "admin"
   }
   match /users/{userId}/{documents=**}{
     allow read, write:if request.auth.uid == userId;
   }
   match /status/{userId}{
     allow read: if true;
   }
   match /air/{document}{
     allow read: if true
   }
   match /otp/{document}{
     allow read, write: if true
   }
   match /company/{document}{
     allow read: if true
   }
   match /sea/{document}{
     allow read: if true
   }
  }
}