rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
     allow read, write: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "admin";
   match /users/{userId}/{documents=**}{
     allow read, update, delete:if request.auth.uid == userId;
   }
   match /status/{statusId}/{documents=**}{
     allow read, update, delete:if request.auth.uid == statusId;
   }
   match /air/{document}{
     allow read: if true
   }
   match /sea/{document}{
     allow read: if true
   }
  }
}