input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
.form-head {
  font-size: 1.5rem;
}
.height-3 {
  min-height: 3rem;
}
.text-sub {
  font-size: 0.75rem;
}
.hide {
  visibility: hidden;
  height: 0;
  display: none;
}
.type-card {
  cursor: pointer;
}
.type-card.active {
  border-color: #1abc9c;
}
.type-card:hover,
.type-card:focus {
  border-color: #1abc9c;
}
.contact-card {
  cursor: pointer;
}
.contact-card.active {
  border-color: #1abc9c;
}
.contact-card:hover,
.contact-card:focus {
  border-color: #1abc9c;
}
.booking-card {
  cursor: pointer;
}
.booking-card.active {
  border-color: #1abc9c;
}
.booking-card:hover,
.booking-card:focus {
  border-color: #1abc9c;
}
.login-card {
  padding: 1rem;
}
.service-card {
  width: 100%;
}
.avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}
.profile {
  background-color: #3c546b;
}
.myCard {
  box-sizing: border-box;
  display: grid;
  border: 1px #ced4da solid;
  border-radius: 0.5rem;
  grid-template-columns: auto auto 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'icons icons key key' 'icons icons value value';
}
.cardIcon {
  grid-area: icons;
  padding: 1rem;
  padding: 1rem;
  font-size: 3rem;
  display: flex;
  color: #ced4da;
  justify-content: center;
  align-items: center;
}
.cardKey {
  grid-area: key;
}
.cardValue {
  grid-area: value;
}
.cardContainer {
  justify-content: space-around;
}
.profile:hover {
  color: #ffffff !important;
  border: 1px #1abc9c solid;
}
#profile-name {
  color: #ffffff;
  min-width: 10rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#profile-item {
  z-index: 1031;
}
.status-img {
  min-width: 33.3333%;
}
.link {
  cursor: pointer;
  user-select: none;
}
.no-style {
  list-style: none;
}
.circle-btn {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle-btn:hover {
  border-color: #1abc9c !important;
  color: #159a80 !important;
}
.myAlert {
  top: 68px;
  position: fixed;
  z-index: 20;
}
.email-p {
  padding-inline-start: 55px;
}
.highlight {
  z-index: 1050;
}
.ui-state-active {
  border: 1px solid #159a80 !important;
  background: #1abc9c !important;
  font-weight: normal !important;
  color: #ffffff !important;
}
